{% extends 'unovestAdmin\master.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Change  Password
{% endblock %}

{% block contentsection %}
{% load static %}
<div class="wrapper">
    <!--Begin Main Panel-->
    <div class="main-panel">
            {% include 'unovestAdmin\header.html' with title_text='Change  Password' %}
        <!--Begin Content-->
        <div class="content">
            <div class="row">
                <div class="col-lg-6">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="pvr-wrapper">
                        <div class="pvr-box">
                            <h5 class="pvr-header">
                                Change Password
                                <div class="pvr-box-controls">
                                    <i class="material-icons" data-box="refresh" data-effect="win8_linear">refresh</i>
                                </div>
                            </h5>
                            <form method="POST" data-parsley-validate="" autocomplete="off">
                                {% csrf_token %}
                                <fieldset>
                                    {{ ChangePaswordForm|crispy }}
                                </fieldset>
                                <input type="submit" class="btn btn-purple m-r-5" value="Save">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Content-->
    </div>
    <!--EndMain Panel-->
</div>

<!-- begin scroll to top btn -->
<a href="javascript:void(0)" class="btn btn-icon btn-circle btn-scroll-to-top btn-sm animated invisible text-light"
   data-color="purple" data-click="scroll-top"><i
        class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
{% endblock %}
{% block script%}
<script>

</script>
{% endblock %}