    <!--Begin Footer-->
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="footer-menu d-none d-sm-block">
                    <li>
                        <a href="javascript:void(0)">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            T&C
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Privacy policy
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Website
                        </a>
                    </li>
                </ul>
                <p class="copyright text-center">
                    © <span id="writeCopyrights"></span>
                    <a href="#" target="_blank">PVR Tech Studio</a>, We Design your
                    Future!
                </p>
            </nav>
        </div>
    </footer>
    <!--End Footer-->